// TODO: Update colors
// TODO: Add global theme

.login-container {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.login-form-field {
    margin: 3vh;
    margin-bottom: 0vh;
}